.container__page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container__page-info {
  height: 85vh;
  margin: 5rem;
  width: 3px;
  display: flex;
  justify-content: space-between;
}

.container__page-left {
  width: 50%;
  margin: 2rem;
}
.container__page_right {
  width: 50%;
}

.general__info {
  margin: 5rem 0;
}
.general__info h4 {
  color: blue;
}

.general__info h2 {
  color: black;
  font-size: 2.5rem;
  font-weight: 900;
}
.general__info-about button {
  width: 200px;
  height: 50px;
}
.general__info-about p {
  margin-bottom: 2rem;
}
/* Second section description*/

.description__section {
  background-color: #1261ff;
}

.description__container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 20rem;
}

.description__container h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.description__container p {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Programming lenguajes section */

.lenguejes__section {
}

.lenguajes__container {
  height: 100vh;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.lenguajes__container-head {
}

.container__cards {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
