/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;500;600&family=Quicksand:wght@300;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;500;600&family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 1.8s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 1.8s;
  }
}

.container-default {
  max-width: 1280px;
  margin: 0 auto !important;
}

.float-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  transform: translateY(-10%);
  animation: floater 3.5s infinite;
  transition: ease 1.8s;
}

.floating-img-second {
  transform: translateY(-9%);
  animation: floater 4.5s infinite;
  transition: ease 2.8s;
}

.gradient_bg_color:hover {
  background: rgb(62, 123, 185);
  background: linear-gradient(
    63deg,
    rgba(62, 123, 185, 1) 0%,
    rgba(9, 98, 255, 1) 33%,
    rgba(9, 98, 255, 1) 54%
  );
}
